// font-family
$quicksand: 'Quicksand', sans-serif;
$symbols: 'Material Symbols Outlined';

// weights
$qs-regular: 400;
$qs-medium: 500;
$qs-bold: 700;

//base size for desktop/mobile without unit
$defFontSizeDT:18;

//scaling factors desktop
$factorLineHeightDT:1.31;
$factorScaleDT:1.333;

//scaling factors mobile

//Base line height calculation
$lineHeightDT: ceil($defFontSizeDT * $factorLineHeightDT); //24

//scaling jumps
$fontSizeJumpDT1: ceil($defFontSizeDT * $factorScaleDT); //24
$fontSizeJumpDT2: ceil($fontSizeJumpDT1 * $factorScaleDT); //32
$fontSizeJumpDT3: ceil($fontSizeJumpDT2 * $factorScaleDT); //43
$fontSizeJumpDT4: floor($fontSizeJumpDT3 * $factorScaleDT); //57

//other special sizes
$mouseFontSizeDT:14;
